@import   "@/app/mixin.scss";

.DropdownContainerAgent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    @include md {

    }

    @include lg {
        min-width: 180px;
        
        gap: 16px;
    }

    @include xl {
        min-width: 210px;
     
        gap: 20px;
    }

    @include xxl {
        min-width: 236px;
        gap: 24px;
    }

    .SocialLinkContainer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding-left: 10px;

        .SocialLink {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: var(--text-dense-grey-dark);
            cursor: pointer;
            transition: all 0.1s ease-in-out;

            @include md {}

            @include lg {
                font-size: 12px;
            }

            @include xl {
                font-size: 12px;
            }

            @include xxl {
                font-size: 14px;
            }

            &:hover {
                opacity: 0.8;
                color: var(--app-green);
            }

            .Icon {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 4px;
                width: 24px;
                height: 24px;
                background: var(--paper-black-medium);
                border: 0.666667px solid var(--border-color);
                border-radius: 2.66667px;


                @include md {}

                @include lg {
                    width: 20px;
                    height: 20px;
                }

                @include xl {
                    width: 22px;
                    height: 22px;
                }

                @include xxl {
                    width: 24px;
                    height: 24px;
                }
            }

        }
    }
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
    padding: 0px !important;
}

.MuiList-root {
    padding: 0px !important;
    color: var(--text-white);
    background-color: var(--paper-black-dense);
}

.MuiButtonBase-root {
    padding: 0px !important;
}

.MuiPaper-root {
    width: inherit;
    background-color: transparent !important;
}